[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.25"
optimizer = true
optimizer_runs = 200
remappings = [
    "@chainlink/contracts/=lib/chainlink-brownie-contracts/contracts/",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts",
]
fs_permissions = [{ access = "read", path = "./" }]
[etherscan]
polygon-amoy = { key = "${AMOY_API_KEY}", url = "https://www.oklink.com/api/explorer/v1/api/verifyContract" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
